.qodo
.DS_Store
nutrition_backend/__pycache__/app.cpython-314.pyc
nutrition_backend/__pycache__/db.cpython-314.pyc
nutrition_backend/__pycache__/models.cpython-314.pyc
nutrition_backend/artifacts/nutrition_model.pkl
